@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: flex;
}
.menu li{
    list-style: none;
    margin-bottom: 15PX;
}
.menu a{
    text-decoration: none;
    color: black;
}
header{
    width: 23%;
    height: 900px;
    padding: 10px;
}
.container{
    width: 100%;
}
.superior input{
    width: 98.4%;
    height: 50px;
    border-radius: 9px;
}

table{
    width: 99%;
    height: 420px;
    border: 2px solid black;
    border-radius: 9px;
    margin-top: 30px;
    border-collapse: collapse;
}
.tabla th{
    padding: 6px;
    border-bottom: 1px solid black;
}
.tabla td{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid black;
}
.inferior{
    margin-top: 80px;
    width: 100%;
}
.descripciones{
    display: flex;
}
.descripciones .descripcion{
    background-color: lightslategray;
    margin: 18px;
    width: 25%;
    padding: 15px;
}